
@{
	ViewBag.Title = "ConfirmEmail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:140px;"></div>
<div class="alert-success" style="padding:10px;border-radius:10px;">


	<h2>Confirmation Message:</h2>
	Your registration request has been confirmed.Upon successful verification in the next 48 hours,SDG Academy Islamabad, Pakistan will grant you access of SDG Tracker Pakistan and a link will be sent to your mail to complete your registration.For any query you can reach us at:  <a href="info@sdgsacademy.com">info@sdgsacademy.com</a>

</div>
