
@{
    ViewBag.Title = "Responsible_Consuption_Production";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:140px;"></div>
<article class="GoalPage sustainable-consumption-production">
    <header>
        <div>
            <div class="breadcrumb">
                <span><a href="/Home/Index">Sustainable Development Goals</a><span style="padding-left:.5rem;padding-right:.5rem">/</span>Responsible Consumption and Production</span>
            </div>
            <div class="goalIntro">
                <div class="row">
                    <div class="col-md-8">
                        <span>Sustainable Development Goal 12</span>
                        <h1>Ensure sustainable consumption and production patterns</h1>
                        <div>
                            <p>The <a href="https://www.un.org/sustainabledevelopment/sustainable-consumption-production/">UN explains</a>: <q>Sustainable consumption and production is about promoting resource and energy efficiency, sustainable infrastructure, and providing access to basic services, green and decent jobs and a better quality of life for all. Its implementation helps to achieve overall development plans, reduce future economic, environmental and social costs, strengthen economic competitiveness and reduce poverty.</q></p>
                            <p>Definitions of, and indicators for sustainable resource consumption is currently limited, as shown in the data available below.</p>
                            <p>
                                The UN has defined 11 <em>Targets</em> and 13 <em>Indicators</em> for SDG 12. Targets specify the goals and Indicators represent the metrics by which the world aims to track whether these Targets are achieved. Below we
                                quote the original text of all Targets and show the data on the agreed Indicators.
                            </p>
                        </div><a href="#targets"><i class="fa fa-arrow-down"></i> How is the world doing on this goal?</a>
                    </div>
                    <div class="col-md-4"><img class="imgSdg" alt="Responsible Consumption and Production Logo" src="https://d33wubrfki0l68.cloudfront.net/444012fbcf60b7f88b54239c89dd0f3d8f51e454/d6ef5/img/uploads/12.svg" /></div>
                </div>
            </div>
        </div>
    </header>
    <div id="targets" class="content">
        <div class="target" id="12.1">
            <h2>
                <a class="deep-link" href="#12.1"></a>Target 12.1: Implement the 10-year sustainable consumption and production framework
            </h2>
            <p>UN definition: <q>Implement the 10&#x2011;Year Framework of Programmes on Sustainable Consumption and Production Patterns, all countries taking action, with developed countries taking the lead, taking into account the development and capabilities of developing countries.</q></p>
        </div>
        <div class="indicator" id="12.1.1">
            <div class="row">
                <div class="col-md">
                    <span><a class="deep-link" href="#12.1.1"></a>SDG Indicator 12.1.1</span>
                    <h3>Sustainable consumption and production action plans</h3>
                    <p><strong>Definition:</strong> Indicator 12.1.1 is the <q>number of countries with sustainable consumption and production (SCP) national action plans or SCP mainstreamed as a priority or a target into national policies</q>.</p>
                    <p><strong>Goal:</strong> <q>Implement the 10&#x2011;Year Framework of Programmes on Sustainable Consumption and Production Patterns</q> with all countries taking action by 2030.</p>
                </div>
                <div class="col-md">
                    <figure data-grapher-src="https://ourworldindata.org/grapher/country-scp-plan" class="grapherPreview"></figure>
                </div>
            </div>
            <div class="target" id="12.2">
                <h2>
                    <a class="deep-link" href="#12.2"></a>Target 12.2: Sustainable management and use of natural resources
                </h2>
                <p>UN definition: <q>By 2030, achieve the sustainable management and efficient use of natural resources.</q></p>
            </div>
            <div class="indicator" id="12.2.1">
                <div class="row">
                    <div class="col-md">
                        <span><a class="deep-link" href="#12.2.1"></a>SDG Indicator 12.2.1</span>
                        <h3>Material footprint</h3>
                        <p><strong>Definition:</strong> Indicator 12.2.1 is <q>material footprint, material footprint per capita, and material footprint per GDP</q>.</p>
                        <p>
                            Material Footprint (MF) is the quantity of material extraction that is required to meet the consumption of a country. The total material footprint is the sum of the material footprint for biomass, fossil fuels, metal ores and
                            non-metal ores.
                        </p>
                        <p>The definition or target level of sustainable material footprint is not defined. Data on material footprints are outdated and unavailable for years following 2010.</p>
                        <p><strong>Goal:</strong> <q>By 2030, achieve the sustainable management and efficient use of natural resources</q>.</p>
                    </div>
                    <div class="col-md">
                        <figure data-grapher-src="https://ourworldindata.org/grapher/material-footprint-per-capita" class="grapherPreview"></figure>
                        <figure data-grapher-src="https://ourworldindata.org/grapher/material-footprint-per-unit-of-gdp" class="grapherPreview"></figure>
                    </div>
                </div>
            </div>
            <hr>
            <div class="indicator" id="12.2.2">
                <div class="row">
                    <div class="col-md">
                        <span><a class="deep-link" href="#12.2.2"></a>SDG Indicator 12.2.2</span>
                        <h3>Domestic material consumption</h3>
                        <p><strong>Definition:</strong> Indicator 12.2.2 is <q>domestic material consumption, domestic material consumption per capita, and domestic material consumption per GDP</q>.</p>
                        <p>
                            Material Footprint (MF) is the quantity of material extraction that is required to meet the consumption of a country. The total material footprint is the sum of the material footprint for biomass, fossil fuels, metal ores and
                            non-metal ores.
                        </p>
                        <p>
                            Domestic Material Consumption (DMC) is a production-side measure which does not account for supply chain inputs or exports, meaning a country could have a lower DMC value if it outsources a large proportion of its materials.
                        </p>
                        <p>The definition or target level of sustainable material consumption is not defined. Data on consumption is outdated and unavailable for years following 2010.</p>
                        <p><strong>Goal:</strong> <q>By 2030, achieve the sustainable management and efficient use of natural resources</q>.</p>
                    </div>
                    <div class="col-md">
                        <figure data-grapher-src="https://ourworldindata.org/grapher/domestic-material-consumption-per-capita" class="grapherPreview"></figure>
                        <figure data-grapher-src="https://ourworldindata.org/grapher/domestic-material-consumption-per-unit-of-gdp" class="grapherPreview"></figure>
                    </div>
                </div>
            </div>
            <div class="target" id="12.3">
                <h2>
                    <a class="deep-link" href="#12.3"></a>Target 12.3: Halve global per capita food waste
                </h2>
                <p>UN definition: <q>By 2030, halve per capita global food waste at the retail and consumer levels and reduce food losses along production and supply chains, including post-harvest losses.</q></p>
            </div>
            <div class="indicator" id="12.3.1">
                <div class="row">
                    <div class="col-md">
                        <span><a class="deep-link" href="#12.3.1"></a>SDG Indicator 12.3.1</span>
                        <h3>Global food loss</h3>
                        <p><strong>Definition:</strong> Indicator 12.3.1 is the <q>global food loss index</q>.</p>
                        <p><strong>Goal:</strong> <q>By 2030, halve per capita global food waste at the retail and consumer levels and reduce food losses along production and supply chains, including post-harvest losses</q>.</p>
                    </div>
                    <div class="col-md align-self-center">
                        <b>We are currently not aware of data for this indicator. You can notify us of available data for this indicator via our <a href="https://docs.google.com/forms/d/e/1FAIpQLScnmK3tFfsJyI9dAlaoTyOtOSTJOW4Eul_d4XSM7YpMVFwxkQ/viewform">feedback form</a>.</b>
                    </div>
                </div>
            </div>
            <div class="target" id="12.4">
                <h2>
                    <a class="deep-link" href="#12.4"></a>Target 12.4: Responsible management of chemicals and waste
                </h2>
                <p>UN definition: <q>By 2020, achieve the environmentally sound management of chemicals and all wastes throughout their life cycle, in accordance with agreed international frameworks, and significantly reduce their release to air, water and soil in order to minimize their adverse impacts on human health and the environment.</q></p>
            </div>
            <div class="indicator" id="12.4.1">
                <div class="row">
                    <div class="col-md">
                        <span><a class="deep-link" href="#12.4.1"></a>SDG Indicator 12.4.1</span>
                        <h3>International agreements on hazardous waste</h3>
                        <p><strong>Definition:</strong> Indicator 12.4.1 is the <q>number of parties to international multilateral environmental agreements on hazardous waste, and other chemicals that meet their commitments and obligations in transmitting information as required by each relevant agreement</q>.</p>
                        <p>There are a number of international multilateral agreements on hazardous waste and other chemicals (including the Montreal Protocol, Basel Convention, Rotterdam Convention and Stockholm Convention). </p>
                        <p>This indicator assesses the percentage of countries meeting commitments and obligations within each agreement.</p>
                        <p><strong>Goal:</strong> <q>Achieve the environmentally sound management of chemicals and all wastes throughout their life cycle, in accordance with agreed international frameworks</q> by 2020.</p>
                        <p>Unlike most SDG targets which are set for the year 2030, this indicator is set for 2020.</p>
                    </div>
                    <div class="col-md">
                        <figure data-grapher-src="https://ourworldindata.org/grapher/parties-to-multilateral-agreements-on-hazardous-waste" class="grapherPreview"></figure>
                    </div>
                </div>
            </div>
            <hr>
            <div class="indicator" id="12.4.2">
                <div class="row">
                    <div class="col-md">
                        <span><a class="deep-link" href="#12.4.2"></a>SDG Indicator 12.4.2</span>
                        <h3>Hazardous waste generation</h3>
                        <p><strong>Definition:</strong> Indicator 12.4.2 is <q>hazardous waste generated per capita and proportion of hazardous waste treated, by type of treatment</q>.</p>
                        <p><strong>Goal:</strong> <q>Achieve the environmentally sound management of chemicals and all wastes throughout their life cycle, in accordance with agreed international frameworks</q> by 2020.</p>
                        <p>Unlike most SDG targets which are set for the year 2030, this indicator is set for 2020.</p>
                    </div>
                    <div class="col-md align-self-center">
                        <b>We are currently not aware of data for this indicator. You can notify us of available data for this indicator via our <a href="https://docs.google.com/forms/d/e/1FAIpQLScnmK3tFfsJyI9dAlaoTyOtOSTJOW4Eul_d4XSM7YpMVFwxkQ/viewform">feedback form</a>.</b>
                    </div>
                </div>
            </div>
            <div class="target" id="12.5">
                <h2>
                    <a class="deep-link" href="#12.5"></a>Target 12.5: Substantially reduce waste generation
                </h2>
                <p>UN definition: <q>By 2030, substantially reduce waste generation through prevention, reduction, recycling and reuse.</q></p>
            </div>
            <div class="indicator" id="12.5.1">
                <div class="row">
                    <div class="col-md">
                        <span><a class="deep-link" href="#12.5.1"></a>SDG Indicator 12.5.1</span>
                        <h3>Recycling rates</h3>
                        <p><strong>Definition:</strong> Indicator 12.5.1 is the <q>national recycling rate, tons of material recycled</q>.</p>
                        <p>
                            Limited data is available for recycling rates globally. Data on quantities of recycled municipal waste are available for OECD countries. This is shown here in absolute terms (the quantity of municipal waste recycled, measured
                            in tonnes per year) and recycling rates, which measure the percentage of total waste generated that is recycled.
                        </p>
                        <p><strong>Goal:</strong> <q>By 2030, substantially reduce waste generation through prevention, reduction, recycling and reuse</q>.</p>
                    </div>
                    <div class="col-md">
                        <figure data-grapher-src="https://ourworldindata.org/grapher/municipal-waste-recycled" class="grapherPreview"></figure>
                        <figure data-grapher-src="https://ourworldindata.org/grapher/municipal-waste-recycling-rate" class="grapherPreview"></figure>
                    </div>
                </div>
            </div>
            <div class="target" id="12.6">
                <h2>
                    <a class="deep-link" href="#12.6"></a>Target 12.6: Encourage companies to adopt sustainable practices and sustainability reporting
                </h2>
                <p>UN definition: <q>Encourage companies, especially large and transnational companies, to adopt sustainable practices and to integrate sustainability information into their reporting cycle.</q></p>
            </div>
            <div class="indicator" id="12.6.1">
                <div class="row">
                    <div class="col-md">
                        <span><a class="deep-link" href="#12.6.1"></a>SDG Indicator 12.6.1</span>
                        <h3>Companies publishing sustainability reports</h3>
                        <p><strong>Definition:</strong> Indicator 12.6.1 is the <q>number of companies publishing sustainability reports</q>.</p>
                        <p><strong>Goal:</strong> <q>Encourage companies to adopt sustainable practices and sustainability reporting</q> by 2030.</p>
                    </div>
                    <div class="col-md align-self-center">
                        <b>We are currently not aware of data for this indicator. You can notify us of available data for this indicator via our <a href="https://docs.google.com/forms/d/e/1FAIpQLScnmK3tFfsJyI9dAlaoTyOtOSTJOW4Eul_d4XSM7YpMVFwxkQ/viewform">feedback form</a>.</b>
                    </div>
                </div>
            </div>
            <div class="target" id="12.7">
                <h2>
                    <a class="deep-link" href="#12.7"></a>Target 12.7: Promote sustainable public procurement practices
                </h2>
                <p>UN definition: <q>Promote public procurement practices that are sustainable, in accordance with national policies and priorities.</q></p>
            </div>
            <div class="indicator" id="12.7.1">
                <div class="row">
                    <div class="col-md">
                        <span><a class="deep-link" href="#12.7.1"></a>SDG Indicator 12.7.1</span>
                        <h3>National sustainable procurement plans</h3>
                        <p><strong>Definition:</strong> Indicator 12.7.1 is the <q>number of countries implementing sustainable public procurement policies and action plans</q>.</p>
                        <p><strong>Goal:</strong> <q>Promote public procurement practices that are sustainable, in accordance with national policies and priorities</q> by 2030.</p>
                    </div>
                    <div class="col-md align-self-center">
                        <b>We are currently not aware of data for this indicator. You can notify us of available data for this indicator via our <a href="https://docs.google.com/forms/d/e/1FAIpQLScnmK3tFfsJyI9dAlaoTyOtOSTJOW4Eul_d4XSM7YpMVFwxkQ/viewform">feedback form</a>.</b>
                    </div>
                </div>
            </div>
            <div class="target" id="12.8">
                <h2>
                    <a class="deep-link" href="#12.8"></a>Target 12.8: Promote universal understanding of sustainable lifestyles
                </h2>
                <p>UN definition: <q>By 2030, ensure that people everywhere have the relevant information and awareness for sustainable development and lifestyles in harmony with nature.</q></p>
            </div>
            <div class="indicator" id="12.8.1">
                <div class="row">
                    <div class="col-md">
                        <span><a class="deep-link" href="#12.8.1"></a>SDG Indicator 12.8.1</span>
                        <h3>Understanding of sustainable lifestyles</h3>
                        <p>
                            <strong>Definition:</strong> Indicator 12.8.1 is the <q>
                                Extent to which (i) global citizenship education and (ii) education for sustainable development (including
                                climate change education) are mainstreamed
                            </q>.
                        </p>
                        <p><strong>Goal:</strong> <q>Ensure that people everywhere have the relevant information and awareness for sustainable development and lifestyles in harmony with nature</q> by 2030.</p>
                    </div>
                    <div class="col-md align-self-center">
                        <b>We are currently not aware of data for this indicator. You can notify us of available data for this indicator via our <a href="https://docs.google.com/forms/d/e/1FAIpQLScnmK3tFfsJyI9dAlaoTyOtOSTJOW4Eul_d4XSM7YpMVFwxkQ/viewform">feedback form</a>.</b>
                    </div>
                </div>
            </div>
            <div class="target" id="12.A">
                <h2>
                    <a class="deep-link" href="#12.A"></a>Target 12.A: Support developing countries&apos; scientific and technological capacity for sustainable consumption and production
                </h2>
                <p>UN definition: <q>Support developing countries to strengthen their scientific and technological capacity to move towards more sustainable patterns of consumption and production.</q></p>
            </div>
            <div class="indicator" id="12.A.1">
                <div class="row">
                    <div class="col-md">
                        <span><a class="deep-link" href="#12.A.1"></a>SDG Indicator 12.A.1</span>
                        <h3>Support for developing countries&apos; capacity for sustainable production</h3>
                        <p><strong>Definition:</strong> Indicator 12.A.1 is the <q>amount of support to developing countries on research and development for sustainable consumption and production and environmentally sound technologies</q>.</p>
                        <p><strong>Goal:</strong> <q>Support developing countries&apos; scientific and technological capacity for sustainable consumption and production</q> through 2030.</p>
                    </div>
                    <div class="col-md">
                        <div class="col-md align-self-center">
                            <b>We are currently not aware of data for this indicator. You can notify us of available data for this indicator via our <a href="https://docs.google.com/forms/d/e/1FAIpQLScnmK3tFfsJyI9dAlaoTyOtOSTJOW4Eul_d4XSM7YpMVFwxkQ/viewform">feedback form</a>.</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="target" id="12.B">
                <h2>
                    <a class="deep-link" href="#12.B"></a>Target 12.B: Develop and implement tools to monitor sustainable tourism
                </h2>
                <p>UN definition: <q>Develop and implement tools to monitor sustainable development impacts for sustainable tourism that creates jobs and promotes local culture and products.</q></p>
            </div>
            <div class="indicator" id="12.B.1">
                <div class="row">
                    <div class="col-md">
                        <span><a class="deep-link" href="#12.B.1"></a>SDG Indicator 12.B.1</span>
                        <h3>Monitoring sustainable tourism</h3>
                        <p><strong>Definition:</strong> Indicator 12.B.1 is the <q>number of sustainable tourism strategies or policies and implemented action plans with agreed monitoring and evaluation tools</q>.</p>
                        <p><strong>Goal:</strong> <q>Develop and implement tools to monitor sustainable development impacts for sustainable tourism</q> by 2030.</p>
                    </div>
                    <div class="col-md align-self-center">
                        <b>We are currently not aware of data for this indicator. You can notify us of available data for this indicator via our <a href="https://docs.google.com/forms/d/e/1FAIpQLScnmK3tFfsJyI9dAlaoTyOtOSTJOW4Eul_d4XSM7YpMVFwxkQ/viewform">feedback form</a>.</b>
                    </div>
                </div>
            </div>
            <div class="target" id="12.C">
                <h2>
                    <a class="deep-link" href="#12.C"></a>Target 12.C: Remove market distortions that encourage wasteful consumption
                </h2>
                <p>UN definition: <q>Rationalize inefficient fossil-fuel subsidies that encourage wasteful consumption by removing market distortions, in accordance with national circumstances, including by restructuring taxation and phasing out those harmful subsidies, where they exist, to reflect their environmental impacts, taking fully into account the specific needs and conditions of developing countries and minimizing the possible adverse impacts on their development in a manner that protects the poor and the affected communities.</q></p>
            </div>
            <div class="indicator" id="12.C.1">
                <div class="row">
                    <div class="col-md">
                        <span><a class="deep-link" href="#12.C.1"></a>SDG Indicator 12.C.1</span>
                        <h3>Removing fossil fuel subsidies</h3>
                        <p><strong>Definition:</strong> Indicator 12.C.1 is the <q>amount of fossil-fuel subsidies per unit of GDP (production and consumption) and as a proportion of total national expenditure on fossil fuels</q>.</p>
                        <p><strong>Goal:</strong> By 2030 <q>rationalize inefficient fossil-fuel subsidies that encourage wasteful consumption by removing market distortions, in accordance with national circumstances</q>.</p>
                    </div>
                    <div class="col-md">
                        <figure data-grapher-src="https://ourworldindata.org/grapher/fossil-fuel-subsidies-gdp" class="grapherPreview"></figure>
                        <figure data-grapher-src="https://ourworldindata.org/grapher/fossil-fuel-subsidies-per-capita" class="grapherPreview"></figure>
                        <figure data-grapher-src="https://ourworldindata.org/grapher/fossil-fuel-subsidies" class="grapherPreview"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

