
@{
	ViewBag.Title = "sdg_tracker";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:140px;"></div>
<div class="well">
	<h3>SDG Tracker Pakistan  (Objectives)</h3>
</div>

<p>
	Tracking progress towards attainment of SDGs in Pakistan.<br />
	<a href="#">Read More...</a> <br />
	Mapping different stack holders (NGOs, SMEs, Govt Ministries & their attached departments, Public Private Sector) with SDGs to trace their efforts (Projects, Tasks, Activities) regarding SDGs attainability in Pakistan.<br />
	<a href="#">Read More...</a> <br />
	Roles based access to different stake holders with separate Dashboard to monitor internal processes at their end.<br />
	<a href="#">Read More...</a> <br />
	Automation of internal processes (Project Management, Tasks assignment, Activities handling) regarding SDGs of different stack holders (Especially NGOs) registered with SDG tracker Pakistan.<br />
	<a href="#">Read More...</a> <br />
	Monitoring and evaluation of NGOs performance in  the country.<br />
	<a href="#">Read More...</a> <br />
	Ranking NGOs on the basis of their projects completion within due period of time <br />
	<a href="#">Read More...</a> <br />
	Enable different stack holders to upload data regarding SDGs attainability both in BLOBs (Images, Videos, Audios) and Text formats through SDG tracker. <br />
	<a href="#">Read More...</a> <br />
	Data Visualization (Progress of attainability of SDGs in Pakistan) with respect to: <br />
	1- SDGs and Indicators wise <br />
	2- Region Wise (National level, Province Wise, Division Wise, District Wise) <br />
	<a href="#">Read More...</a> <br />
	Integration of SDG tracker Pakistan with statistical departments publish report on "Progress towards the Sustainable Development Goals <br />
	<a href="#">Read More...</a> <br />
	Provision to publish report on "Progress towards the Sustainable Development Goals" in Pakistan by any other third party (Survey Department). Report will be uploaded on SDG tracker Pakistan portal after verification. Prior registration will be required to publish a report on the portal.<br />
	<a href="#">Read More...</a> <br />
	Identifying Business opportunities in different sectors to attract foreign investors.<br />
	<a href="#">Read More...</a> <br />
	Highlighting areas with insufficient progress in Pakistan.<br />
	<a href="#">Read More...</a> <br />
	Organizing different events to promote SDGs in Pakistan.<br />
	<a href="#">Read More...</a> <br />
	Highlighting different projects initiated by government to attain the SDGs in Pakistan.<br />
	<a href="#">Read More...</a> <br />
	Promoting Partnership between different stack holders to achieve the desired objective regarding SDGs attainability.<br />
	<a href="#">Read More...</a> <br />
	Integration of SDG tracker Pakistan with different stack holders (Specifically Govt Sector) to share data regarding SDGs attainability in Pakistan.<br />
	<a href="#">Read More...</a> <br />
	Highlighting role of AI (Artificial intelligence) in the achievement of different targets across all SDGs.<br />
	Data analytics implementation <br />
	<a href="#">Read More...</a> <br />
</p>


