
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<h2>Your registration request has been received and confirmation email has been sent to your email.Please click on that confirmation message (link) in your mail to proceed further.</h2>

